<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css"/>


    <title>Burgers</title>
</head>

<body>
<div class="wrapper">

    {{{ body }}}




    <div class="push"></div>
</div>


</body>

<footer class="footer">
       
    <div class=" row">
        <div class="container">
        <div class=" col-md-12">
            <h5 class="author"><p>Created by Carlos Gonzalez <a href="https://github.com/cgonzalezandrades"
                                                                target="_blank"><span id="carlos-shadow"
                                                                                      class="glyphicon glyphicon-user"></span></a>
            </p>
                        <p>powered <span style="color:red">by</span></p>
                <p> HTML - css - js - Node.Js - Express.js - Cheerio - MongoDB - handlebars</p></h5>
                   
            <p class="author"><a href="https://github.com/cgonzalezandrades/NYTReact" target="_blank">
                <button class=" btn btn-primary">See the code <span class="glyphicon glyphicon-new-window"></span>
                </button>
            </a></p>
                 
        </div>
        </div>
    </div>

     
</footer>


<script src="https://code.jquery.com/jquery.js"></script>
</html>