* {
  margin: 0;
}
html, body {
  height: 100%;
}

#title{
    text-align: center;
  background-color: #efefef;
/*  background-color: #5cb85c;*/
}

#burger-list{
  border-style: solid;
  background-color: aqua;
  margin-top: 1%;
}

#eaten-list{
  border-style: solid;
  background-color: ;
  margin-top: 1%;
}


.picture-column{
  text-align: center;
/*  background-color: #d65454;*/
  border-radius: 10px;
  margin-top: 1%;
  
}

img{
  width: 200px;
  height: 200px;
}


#columns-title{
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.burgers-form{
  margin-top: 5%;
}

#submit-burger{
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

#burgerButton{
  margin-top: 5%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
/*  margin-bottom: -0px; */
}
/*
.page-wrap:after {
  content: "";
  display: block;
}
*/
#page-title{
  color: #333;
}

#page-title:hover{
  text-decoration: none;
  color: #333;
}

.site-footer, .page-wrap:after {
  height: 100px; 
}
.site-footer {
  background: #efefef;
}

.site-footer h4{
  margin-top: 3%;
  margin-left: 5%;
}


#yellow-line{
border-color: 
#5cb85c;
border-width: 9px;
}

.eatme-button{
 background-color: 
#5cb85c; 
  color: white;
}

.eatme-button:hover{
  background-color: #d65454;
  color: white;
}

.burgerme-button{
   background-color: 
#ffa544; 
  color: white;
}

.burgerme-button:hover{
   background-color: 
#5cb85c; 
  color: white;
}

