
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

html, body {
    height: 100%;
    margin: 0;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url('/img/foodBackground.png');
    background-position: center;
    background-attachment: fixed;


}

.author{
text-align: center;
}


#columns-title {
    text-align: center;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
}

#columns-title h4{

    color: white;

}

.burgers-form {
    margin-top: 5%;
}

#burgerButton {
    margin-top: 5%;
}

#burger-list {
    border-style: solid;
    margin-top: 1%;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
}



.burgerme-button {
    background-color: #ffa544;
    color: white;
}

.burgerme-button:hover {
    background-color: #5cb85c;
    color: white;
}

.eatme-button {
    background-color: #5cb85c;
    color: white;
}

.eatme-button:hover {
    background-color: #d65454;
    color: white;

}

#eaten-list {
    border-style: solid;
    background-color:;
    margin-top: 1%;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
}

footer{
background-color: #5cb85c;
    margin-top: 0%;
    height: 230px;
}


#page-title:hover {
    text-decoration: none;
    color: #333;
}

#submit-burger {
    text-align: center;
    color: white;

}


#title {
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url("/img/hamburger-515389.jpg");
    background-position: center;
    height: 200px;

}

#title a{
 text-decoration: none;
}

#title h1{
color: white;
}

#red-line {
    border-color: rgba(215, 44, 44, 0.5);
    border-width: 2px;
}


.row{
margin-left: 0;
margin-right: 0
}




/*--------------------------Sticky Footer--------------------*/

.wrapper {


    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}
